#experiences{
    width: 100%;
    background: url('../img/backgrounds/experienceBackground.jpg') fixed top;
    background-size: cover;
    color: white;
    position: relative;
    z-index: 1;
}
#experiences::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
    z-index: -1;
}
#experiences h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 2em;
}
#experiences h1::before{
    content: '';
    position: absolute;
    width: 2px;
    background-color: crimson;
    top: 215px;
    left: 50%;
    animation: lineLength 2s forwards linear;
}
.experiences-container{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding: 70px 0;
}
.experience{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    margin-bottom: -20px;
    opacity: 0;
    animation: showexperience .5s linear forwards;
}
.experience h4{
    color:crimson;
    font-weight: 600;
}
.experience h3{
    font-weight: 500;
    margin-top: 20px;
}
.experience i{
    margin-top: 30px;
}
.experience p{
    margin-top: 5px;
}
div.experience:nth-child(odd){
    /*left*/
    align-items: flex-end;
    text-align: right;
    margin-right: 500px;
}
div.experience:nth-child(even){
    /*right*/
    margin-left: 500px;
}
div.experience:nth-child(odd)::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: crimson;
    right: -58.5px;
}
div.experience:nth-child(even)::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: crimson;
    left: -56px;
}
@keyframes showexperience{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes lineLength{
    from{
        height: 0;
    }
    to{
        height: 625px;
    }
}

/*420*/
/*****************RESPONSIVE*****************************/
@media screen and (max-width: 1160px) {
    /*Start of tablets styles*/
    div.experience:nth-child(odd){
        margin-right: 450px;
    }
    div.experience:nth-child(even){
        margin-left: 450px;
    }
    div.experience:nth-child(odd)::before{
        right: -34px;
    }
    div.experience:nth-child(even)::before{

        left:-31px;
    }
}

@media screen and (max-width: 870px) {
/* start of phone styles */
    #experiences h1::before{
        display: none;
    }
    .experience::before{
        display: none;
    }
    .experiences-container{
        padding-top: 10px;
    }
    .experience{
        margin-top: 100px;
        animation: none;
        opacity: 1;
        flex-wrap: wrap;
        flex-direction: unset;
    }
    div.experience:nth-child(odd){
        align-items: flex-start;
        text-align: left;
        margin-right: 0;
    }
    div.experience:nth-child(even){
        margin-left: 0;
    }
    .experience h4{
        width: fit-content;
        position: absolute;
        right: 0;
    }
    .experience h3{
        width: fit-content;
        margin-top: 0;
    }
    .experience i{
        width: 100%;
    }
    .experience p{
        width: 100%;
    }
}
