footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color:#777;
}
footer ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
}
footer img{
    width: 40px;
    margin:0 15px 0 15px;
}
footer img:hover{
    transform: scale(1.1);
}
footer h3{
    margin:30px 0 5px 0;
}
footer p{
    font-size: 0.9em;
    font-weight: 500;
    margin: 40px 0 30px 0;
}