.navbar-list{
    display: flex;
    flex: 1;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 50px;
    height: 50px;
    position: relative;
}
.navbar-list li{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
}

.navbar-list li::after{
    content:'';
    display: block;
    width:0px;
    height: 2px;
    background-color: #1dd1a1;
    transition: width .3s linear;
}
.navbar-list li:hover::after{
    width: 100%;
}