
#skills{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/skills-background.jpg') fixed center;
    background-size: cover;
    z-index: 1;
}
#skills::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: -1;
}
.skills-info-container{
    display: flex;
    width:50%;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
    border-radius: 3px;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    margin-top: 50px;
}
.cards-container{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}
.skill-card{
    position: relative;
    width: 150px;
    height: 180px;
    background: linear-gradient(0deg,#181818,#222);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    margin:10px
}
.skill-card:hover{
    transform: translateY(-10px);
    box-shadow: 5px 5px 3px #070707;
}
.skill-card:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.03);
    pointer-events: none;
    z-index: 1;
}
.skill-text{
    color:#777;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: none;
    transition: color 0.5s linear, text-shadow 0.5s linear;
}
.skill-card:hover .skill-text{
    color: #fff;
    text-shadow: 2px 2px 2px #070707;
}
.skill-card img{
    transition: transform 0.5s linear;
}
.skill-card:hover img{
    transform: scale(1.1);
}
/*****************RESPONSIVE*****************************/
@media screen and (max-width: 1160px) {
    /*Start of tablets styles*/
    .skills-info-container{
        width: 70%;
    }
}

@media screen and (max-width: 870px) {
/* start of phone styles */
    .skills-info-container{
        width: 85%;
    }
    .cards-container{
        width: 85%;
    }
}