#start{
    width: 100%;
    height: 100vh;
    background: url('../img/startBackground.jpeg') fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 1;
}
#start::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
}
.image-circle{
    width: 45vh;
    height: 45vh;
    min-width:270px;
    min-height: 270px;
    border-radius: 50%;
    background: url("../img/photo.JPG") center;
    box-shadow: 0 0 30px #000;
    z-index: 1;
    margin-top: 40px;
}
#start h3{
    margin-top: 10px;
    text-shadow:0 0 5px #000;
}
#start i{
    margin-top: 5px;
    font-weight: 500;
    text-shadow:0 0 5px #000;
}
#start h4{
    text-align: center;
    margin-top: 90px;
    max-width: 700px;
    text-shadow:0 0 6px #000;
}
/*****************RESPONSIVE*****************************/
@media screen and (max-width: 1160px) {
    /*Start of tablets styles*/

}

@media screen and (max-width: 750px) {
/* start of phone styles */
    #start h4{
        width: 70%;
    }
    #start .image-circle{
        width: 270px;
        height: 270px;
    }
}