@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
    flex-direction: column;
    background: #101010;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    margin-top: 80px;
}