@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    flex-direction: column;
    background: #101010;
}
main{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    color:#777
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,crimson);
    border-radius: 10px;
}

/* start of large tablet styles */
@media screen and (max-width: 991px) {
    body{
        background-color: yellowgreen;
    }
}

/* start of medium tablet styles */
@media screen and (max-width: 767px) {
    body{
        background-color: violet;
    }
}
/* start of phone styles */
@media screen and (max-width: 479px) {
    body{
        background-color: teal;
    }
} 