#projects{
  width: 100%;
  min-height: 110vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.select-project{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-project a{
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.select-project a::after{
  content:'';
  display: block;
  margin: auto;
  width:0;
  height: 2px;
  background-color: #1dd1a1;
  transition: width .3s linear;
}

.select-project a:hover::after{
  width:100%
}
.project-info-container{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/     
.project-info{
    flex: 1;
    position: relative;
    min-width: 350px;
    opacity: 1;
    transition: opacity 1s linear;
    padding: 20px;
    /* background-color: blue; */
}

@keyframes showInfo{
    from{opacity: 0;}
    to{opacity: 1;}
}
.projects-opacity-animation{
    animation: showInfo 3s;
}
.project-info h1{
    margin:10px;
    color: crimson;
}
.project-info h2{
    margin:10px;
    color: #1dd1a1;
}
.project-info p{
    margin:10px;
    padding-left: 10px;
    text-align: justify;
    color: #fff;
}
.project-info ul{
    padding-left: 25px;
    margin:10px;
    color: #fff;
}
.project-info ul li{
    margin:5px;
    color: #fff;
}
/***********************************************/
.project-gallery{
    flex: 2;
    min-width: 720px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: crimson; */
}

/*******************SLIDE SHOW*************************/

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-top: 20px;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    /* font-size: 1rem; */
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .slideshow-container:hover .prev{
    opacity: 1;
  }
  .slideshow-container:hover .next{
    opacity: 1;
  }

  .slideshow-container img{
    max-width: 690px;
    max-height: 550px;
    box-shadow: 5px 5px 5px #070707;
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */ 
  .projects-slideshow-dots-container{
      position: relative;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #414141;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #bbb;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /***************RESPONSIVE******************************/
  /* @media screen and (max-width: 991px) {
    .project-gallery img{
      height: 300px;
      width: auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    .project-gallery img{
      height: 190px;
      width: auto;
    }
  }
  
  @media screen and (max-width: 479px) {
    .project-gallery img{
      height: 170px;
      width: auto;
    }
    .project-info{
      width: 250px;
    }
    .project-info-container{
      width: 100%;
      margin:30px 0;
      border-radius: 0px;
    }
  } */